* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(213, 213, 213);
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: black;
  box-shadow: 0 0 10px black;
}

h1 {
  color: white;
}

ul {
  list-style: none;
}

.logo {
  color: white;
  text-transform: lowercase;
  letter-spacing: -1px;
}

.logo span:first-child {
  color: rgb(131, 2, 131);
}

.logo span:last-child {
  font-size: 16px;
  letter-spacing: normal;
}

.menu {
  display: flex;
}

.menu li {
  position: relative;
}

.menu li a {
  padding: 17px;
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: rgb(131, 2, 131);
}

.menu li:hover .submenu {
  display: block;
}

.submenu {
  position: absolute;
  top: 34px;
  left: 0;
  display: none;
  background: rgb(131, 2, 131);
}
